/* specificity calculator */
/* https://specificity.keegan.st/ */


/* universal selector ->selecting everything on the page */
/* *{
    font-family: monospace;
} */
 *{
    /* it is not inheritace but it is applid to all elements because it is universal selector  */
    /* border: 1px solid red; */
 }


/* element selector */
/* inheritance ->where another element inherit the properties from its parent element (border is not inherited)*/
html{
    font-size: 22px;
}
body{
    /* font-size: 22px; */
    /* border: 3px solid black; */
}
main{
    font-family: monospace;
}
/* form elements do not inherit typograpgy settings */
button, input, textarea, select{
    font: inherit;
}
p{
    color: purple;
}
/* dont use important
p{
    color: purple!important;
} */
/* last one applied here (specificity can ovverride this) */
p{
    color: red;
}

/* group selector */
h1, h2 {
    color: blue;
}

 /* this selector looking for h2's nested inside of an h1 */
/* h1 h2 {
    color: blue;
} */
 /* p span{
    text-transform: uppercase;
    background-color: gold;
 } */

/* class(can be used more than once) selector ->are more specific(more specificity than element selector */
.gray {
    color: gray;
}
.highlight{
    text-transform: uppercase;
    background-color: gold;
}

/* id selector ->most specific */
#second{
    font-style: italic;
}